#!/usr/bin/env bash

CURDIR="$(dirname -- "$(readlink -f -- "$BASH_SOURCE")")"

source "$CURDIR/controllers/$1"
shift

case $1 in
    "get")
        get_val
        ;;
    "set")
        varname="$2"
        shift 2
        set_val "$@"
        eww update "${varname}=$(get_val)"
        ;;
esac
