@import "colors";
* {
  all: unset;
}

/** tooltip!! **/
tooltip.background {
  background-color: $background;
  font-size: 18;
  border-radius: 10px;
  color: $on_background;
}

tooltip label {
  margin: 6px;
}

.debug {
  border: solid red 1px;
}

.pill {
  background-color: $primary_container;
  padding: 0 1em;
  margin: 0.2em 0.1em;
  border-radius: 9999px;
  color: $on_primary_container;
}

.workspace-entry {
  margin: 0.2em;
  padding: 0 1em;
  border-radius: 9999px;
  font-size: 0.8em;
  &.occupied {
    background-color: $primary;
    color: $on_primary;
  }
  &.empty {
    background-color: $inverse_primary;
    color: $primary;
  }
  &.current {
    border-bottom-width: 100px;
    background-color: $primary_fixed;
    color: $on_primary_fixed;
  }
}

.title {
  margin-left: 0.4em;
}

.module {
  // padding: 0 0.3em;
  margin: 0 0.3em;
}

.card {
  background-color: $background;
  &.powermenu {
    font-size: 50px;
  }
}

scale trough {
  all: unset;
  background-color: $background;
  box-shadow: 0 2px 3px 2px $shadow;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}

.icon {
  padding-left: 0.4em;
  padding-right: 0.7em;
}
.vol_icon {
  padding-left: 0.4em;
  padding-right: 0.7em;
}

.graph {
  min-width: 100px;
  &.download trough {
    color: red;
  }
  &.upload trough {
    color: green;
  }
}
.number {
  min-width: 5em;
}

.volbar trough highlight {
  background-image: linear-gradient(
    to right,
    $primary 30%,
    $secondary 50%,
    $primary_fixed 100% * 50
  );
  border-radius: 10px;
}

.res_box {
  // background-color: #F0E9E1;
  // border: 1px solid #E6DFD7;
  padding: 1px 2px 1px 2px;
}
.res_circle {
  background-color: $secondary;
  border: 0px solid #161616;
  border-radius: 100%;
  padding: 0px;
}

.res_text {
  background-color: $primary_container;
  border: 3px solid $primary_container;
  border-radius: 16px;
  font-size: 10px;
  padding: 10px;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
}

.res_cpu {
  color: #fd6b85;
}

.res_mem {
  color: #b1a6ee;
}
